<h1>JSONS FOR:</h1><br/>
<a href = "/completeInfo">Get JSON for the both:vacancies and their respective info</a><br/>
<a href = "/crawler">Get JSON for the vacancies only</a><br/>
<a href = "/vacancyInfo">Get JSON for the details of vacancies only</a>
